.fancybox-close {
	position: fixed;
	top: 18px;
	right: 18px;
	width: 29px;
	height: 29px;
	background-image: url('../images/btn_close.gif');
	cursor: pointer;
	z-index: 8040;
}

.fancybox-close:hover {
	background-position: 0 -29px;
}

.fancybox-nav {
	position: fixed;
	top: 0;
	width: 35%;
	height: 100%;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: fixed;
	top: 50%;
	width: 29px;
	height: 37px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-prev span {
	left: 20px;
	background-image: url('../images/btn_prev.gif');
}

.fancybox-prev span:hover {
	background-position: 0 -37px;
}

.fancybox-next span {
	right: 20px;
	background-image: url('../images/btn_next.gif');
}

.fancybox-next span:hover {
	background-position: 0 -37px;
}

.fancybox-nav:hover span {
	visibility: visible;
}
